@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");

:root {
	--accent-color: #ffff00;
	--secondary-color: #e6e6e6;
	--main-text-color: black;
	--low-contrast-text-color: gray;
    --bg-color: white;
}

* {
	box-sizing: border-box;
}

html {
	font-family: "Open Sans", sans-serif;
    background-color: var(--bg-color);
}

body {
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
	position: relative;
}

h1 {
	font-weight: 800;
}

button {
	background-color: var(--secondary-color);
	border: none;
	border-radius: 5px;
	padding: 10px 25px;
}

button:active {
	background-color: var(--accent-color);
}

button:hover {
	background-color: var(--accent-color);
}

#side-bar,
main {
    padding: 1rem;
}

#side-bar {
    background-color: var(--secondary-color);
}

#side-bar button {
    display: block;
    background-color: var(--secondary-color);
    width: 100%;
    text-align: left;
}

#side-bar button:hover {
    filter: brightness(110%);
    font-weight: 600;
}

#side-bar #new-todo-btn {
    background-color: var(--accent-color);
    margin-bottom: 1rem;
    width: fit-content;
}

#side-bar #new-todo-btn:active {
    padding: 7px 22px;
}

.todo-container {
	display: grid;
	grid-template-columns: 1fr 12fr 1fr;
	border-bottom: 1px solid var(--secondary-color);
	padding: 15px 10px;
}

.todo-info-div {
	display: flex;
	flex-direction: column;
}

.todo-checkbox {
	width: 25px;
	height: 25px;
    align-self: center;
}

.todo-title,
.todo-desc,
.todo-due {
	margin: 0;
}

.todo-title {
	font-weight: 600;
}

.todo-desc {
	color: var(--low-contrast-text-color);
}

.todo-del-btn:hover {
    background-color: red;
}

/* 


#user-input {
  width: 80%;
}

#user-input:focus {
  outline: none;
  border: 3px solid #ffff00;
}
  */
